*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/js.tree
/.idea/ux_shapes.xml
/build
/captures
.externalNativeBuild
.cxx
/web-build
.DS_Store
